body {
    background-color: #14110F;
}

footer {
    color: #F3F3F4;
}

a {
    text-decoration: none;
    color: black;
}

p {
    font-size: 2vw;
    font-family: "Courier";
    text-align: center;
}

@media only screen and (max-width: 600px) {
    p {
        font-size: 4vw;
        font-family: "Courier";
        text-align: center;
    }
  }
  
h1 {
    font-size: 50px;
    text-decoration: underline;
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 30px;
}
.category {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 70px;
    margin-right: 70px;
    padding: 60px;
    background-color: #226F54;
    transition-duration: 1s;
}

.category:hover {
    background-color: #F3F3F4;
    transform: scale(1.05)
}

.menu {
    background-color: #8bc068;
    border-radius: 15px;
}

.bar {
    border-radius: 15px;
    background-color: #f89a4c;
    padding: 20px;
    display: flex;
    justify-content: space-around; /*oddala divy o tą samą wartość */
}

.bar_notes {
    border-radius: 15px;
    background-color: #c74cf8;
    padding: 20px;
    display: flex;
    justify-content: space-around; /*oddala divy o tą samą wartość */
}

.button {
    background-color: #F3F3F4;
    padding: 5px;
    border: solid 1px black;
    transition-duration: 0.5s;
}

.button:hover {
    background-color: #eccc3c;
    transform: scale(1.05)
}