body {
    background-color: #14110F;
}

footer {
    color: #F3F3F4;
}

a {
    text-decoration: none;
    color: black;
}

p {
    font-size: 2vw;
    font-family: "Courier";
    text-align: center;
}

.category {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 70px;
    margin-right: 70px;
    padding: 60px;
    background-color: #226F54;
    transition-duration: 1s;
}

.category:hover {
    background-color: #F3F3F4;
    transform: scale(1.05)
}

.menu {
    border-radius: 15px;
    background-color: #D0F4EA;
}

.bar {
    border-radius: 15px;
    background-color: #f89a4c;
    padding: 20px;
    display: flex;
    justify-content: space-around; /*oddala divy o tą samą wartość */
}

.button {
    background-color: #F3F3F4;
    padding: 5px;
    border: solid 1px black;
    transition-duration: 0.5s;
}

.button:hover {
    background-color: #eccc3c;
    transform: scale(1.05)
}