/* Custom Czcionka */
@font-face
{
font-family: Montserrat;

src:url(Montserrat-Regular.ttf);
}


*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    color: white;
}
body{
    font-family: Montserrat;
    background-size: cover;
    height: calc(106vh - 80px);
    background: linear-gradient(45deg, #fc03be, #03b1fc);
}

/* Tło paska menu */
nav{
    background: #292a2b;
    height: 80px;
    width: 100%;
}
/* Atrybuty Loga Zespołu */
label.logo{
    color:#8eb8fa;
    font-size:45px;
    line-height:80px;
    padding: 0 100px;
    font-weight: bold;
}
/* Atrybuty przycisków Nawigacyjnych */
nav ul{
    float:right;
    margin-right: 20px;
}

nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a{
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}
/* Definicja przycisku głównego */
a.active,a:hover{
    background: #8eb8fa;
    transition: .5s;
}
.checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}
@media (max-width: 1200px){
    label.logo{
        font-size: 25px;
        padding-left: 40px;
    }
    nav ul li a{
        font-size:16px;
    }
}
@media (max-width: 1000px){
    .checkbtn{
        display: block;
    }
    /* Definicja koloru tła po rozwinięciu menu */
    ul{
        position: absolute;
        width: 100%;
        height: 106vh;
        background: #47515c;
        top: 80px;
        left: -100%;
        text-align:center;
        transition: all .5s;
    }
    nav ul li{
        display: block; 
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
        text-shadow: rgba(0, 0, 0, 0.514) 1px 1px 1px;
    }
    a:hover,a.active{
        background: none;
        color: #8eb8fa;
        
    }
    #check:checked ~ ul{
        left: 0; 
    }
}
/* KONIEC ATRYBUTÓW PASKA MENU */

/* Stopka */
footer {
    position:absolute;
    bottom: 0px;
    width: 100%;
    background: #292a2b;
    z-index: 2;
}
@media (max-width: 1000px){
    footer {
        position:fixed;
        bottom: 0px;
        width: 100%;
        background: #292a2b;
        float:inline-end;
        margin-top: 1%;
    }
}
.stopka {
    width:100%;
    padding: 5px 5px 5px;
} 
/* Przyciski social mediów */
.social {
    display: flex;
    justify-content: center;
    margin: 10px 0 0 0;
}
.social a{
    padding: 0 2px;
}
.social a span{
    height: 50px;
    width: 50px;
    background: #1a1a1a;
    line-height: 50px;
    text-align: center;
    font-size: 27px;
    border-radius: 5px;
    transition: 0.3s;
}
/* Twórcy */
.autorzy {
    margin: 10px 0;
    text-align: center;
    font-size:15px;
    line-height:10px;
    font-weight: bold;
}
/* Team */
.dolnastopka {
    background-color:#8eb8fa;
    padding: 10px;
    text-align:center;
}
.designer{
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight:700;
    margin: 0px 4px;
    color:#1a1a1a;
}
/* KONIEC ATRYBUTÓW DOT. STOPKI */
/* ZEGAR */
.container {
    width: 800px;
    height: 170px;
    position: absolute;
    top:22%;
    left:50%;
    transform: translate(-50%, -50%);
    z-index: -2;
}
.clock {
    width: 100%;
    height: 100%;
    background:rgba(39, 42, 44, 0.11);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(40px);
}
.container::before{
    content: '';
    width: 780px;
    height: 170px;
    background: #8eb8fa;
    border-radius: 5px;
    position: absolute;
    left: 4px;
    top: 0px;
    z-index: -1;
}
.container::after{
    content: '';
    width: 600px;
    height: 100px;
    background: #419aff;
    border-radius: 10px;
    position: absolute;
    right: 0px;
    bottom: 0px;
    z-index: -1;
}
.clock span{
    font-size: 68px;
    width: 85px;
    display: inline-block;
    text-align: center;
    position: relative;
    font-weight: bold;
}
.clock span::after{
    font-size: 16px;
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
}
#godz::after {
    content: 'Godzina';
}
#min::after {
    content: 'Minuta';
}
#sek::after {
    content: 'Sekunda';
}

@media (max-width: 1000px){
    .container {
        width: 300px;
        height: 110px;
        position: fixed;
        top:25%;
        left:50%;
        transform: translate(-50%, -50%);
        z-index: -2;
    }
    .clock {
        width: 100%;
        height: 100%;
        background:rgba(39, 42, 44, 0.11);
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        backdrop-filter: blur(40px);
    }
    .container::before{
        content: '';
        width: 280px;
        height: 110px;
        background: #8eb8fa;
        border-radius: 5px;
        position: fixed;
        left: 4px;
        top: 0px;
        z-index: -1;
    }
    .container::after{
        content: '';
        width: 100px;
        height: 110px;
        background: #419aff;
        border-radius: 10px;
        position: fixed;
        right: 0px;
        bottom: 0px;
        z-index: -1;
    }
    .clock span{
        font-size: 45px;
        width: 50px;
        display: inline-block;
        text-align: center;
        position: relative;
        font-weight: bold;
    }
    .clock span::after{
        font-size: 16px;
        position: absolute;
        bottom: -10px;
        left: 50%;
        transform: translateX(-50%);
    }
    #godz::after {
        content: 'Godzina';
    }
    #min::after {
        content: 'Minuta';
    }
    #sek::after {
        content: 'Sekunda';
    }
}