/* Custom Czcionka */
@font-face
{
font-family: Montserrat;

src:url(Montserrat-Regular.ttf);
}


*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    color: white;
}
body{
    font-family: Montserrat;
    background: linear-gradient(45deg, #FFD800, #00AEFF);
    height: calc(100vh - 80px);
}
/* Tło paska menu */
nav{
    background: #292a2b;
    height: 80px;
    width: 100%;
}
/* Atrybuty Loga Zespołu */
label.logo{
    color:#8eb8fa;
    font-size:45px;
    line-height:80px;
    padding: 0 100px;
    font-weight: bold;
}
/* Atrybuty przycisków Nawigacyjnych */
nav ul{
    float:right;
    margin-right: 20px;
}

nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a{
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}
/* Definicja przycisku głównego */
a.active,a:hover{
    background: #8eb8fa;
    transition: .5s;
}
.checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}
@media (max-width: 1200px){
    label.logo{
        font-size: 25px;
        padding-left: 40px;
    }
    nav ul li a{
        font-size:16px;
    }
}
@media (max-width: 1000px){
    .checkbtn{
        display: block;
    }
    /* Definicja koloru tła po rozwinięciu menu */
    ul{
        position: absolute;
        width: 100%;
        height: 100vh;
        background: #47515c;
        top: 80px;
        left: -100%;
        text-align:center;
        transition: all .5s;
        z-index: 2;
    }
    nav ul li{
        display: block; 
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
        text-shadow: rgba(0, 0, 0, 0.514) 1px 1px 1px;
    }
    a:hover,a.active{
        background: none;
        color: #8eb8fa;
        
    }
    #check:checked ~ ul{
        left: 0; 
    }
}
/* KONIEC ATRYBUTÓW PASKA MENU */

/* Stopka */
footer {
    position:absolute;
    bottom: 0px;
    width: 100%;
    background: #292a2b;
    z-index: 2;
}
.stopka {
    width:100%;
    padding: 5px 5px 5px;
} 
/* Przyciski social mediów */
.social {
    display: flex;
    justify-content: center;
    margin: 10px 0 0 0;
}
.social a{
    padding: 0 2px;
}
.social a span{
    height: 50px;
    width: 50px;
    background: #1a1a1a;
    line-height: 50px;
    text-align: center;
    font-size: 27px;
    border-radius: 5px;
    transition: 0.3s;
}
/* Twórcy */
.autorzy {
    margin: 10px 0;
    text-align: center;
    font-size:15px;
    line-height:20px;
    font-weight: bold;
}
/* Team */
.dolnastopka {
    background-color:#8eb8fa;
    padding: 10px;
    text-align:center;
}
.designer{
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight:700;
    margin: 0px 4px;
    color:#1a1a1a;
}
/* KONIEC ATRYBUTÓW DOT. STOPKI */
/* Lista zadań */
.container {
    background: rgba(255, 255, 255, 0.534);
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.15);
    border-top: 5px solid #8eb8fa;
    border-bottom: 5px solid #8eb8fa;
    display:block;
    margin: 1em auto;
    width: 100%;
    max-width: 800px;
    min-height: 200px;
    position: relative;
    border-radius: 20px;
    top: 100px;
}
.tytul h2{
    color:white;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding: 10px;
    font-weight: bold;
    font-size: 30px;
    text-shadow: 1px 1px 5px black;
}
.tytul h2 img{
    width: 35px;
    height: 35px;
    margin-right: 5px;
}
.atrybuty{
    width: 100%;
    display: flex;
    background: #edeef0;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
    justify-content: space-between;
}
input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-weight: bold;
    font-size: 15px;
    color: black;
}
textarea{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-weight: bold;
    font-size: 15px;
    color: black;
}
.button{
    border: none;
    outline: none;
    padding: 16px 10px;
    background: #ff5945;
    font-size: 18px;
    cursor: pointer;
    border-radius: 40px;
    font-weight: bold;
}
